 #About {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#ededed;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
color:#d68f2f;
font-size:20;
background:#321e12;
}
 #imagebutton1 {
width:44;
icon-width:15;
font-pressed-color:#e50011;
icon-height:21;
height:44;
font-size:10;
icon-background-image:i_back.png;
icon-text-spacing:3;
}
 #label1 {
halign:center;
height:2;
color:#000000;
background:#ec9e34;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #panel6 {
halign:center;
height:134;
layout:vbox;
background:#ffffff;
width:fill;
margin-top:10;
valign:TOP;
}
 #panel0 {
padding-right:10;
padding-left:10;
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #image0 {
height:26;
width:26;
}
 #label0 {
halign:center;
height:wrap;
widthWrap:51.0;
color:#030303;
heightWrap:23.0;
font-size:16;
width:wrap;
margin-left:10;
font-family:default;
valign:center;
}
 #label2 {
margin-right:10;
halign:center;
height:1;
color:#000000;
font-size:14;
background:#dbdbdb;
width:fill;
margin-left:10;
font-family:default;
valign:center;
}
 #panel1 {
padding-right:10;
padding-left:10;
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #image1 {
height:26;
width:26;
}
 #label3 {
halign:center;
height:wrap;
widthWrap:68.0;
color:#030303;
heightWrap:23.0;
font-size:16;
width:wrap;
margin-left:10;
font-family:default;
valign:center;
}
 #label13 {
margin-right:5;
halign:right;
height:wrap;
weight:1;
color:#ec9e34;
heightWrap:23.0;
font-size:16;
width:0;
font-family:default;
valign:center;
}
 #label4 {
margin-right:10;
halign:center;
height:1;
color:#000000;
font-size:14;
background:#dbdbdb;
width:fill;
margin-left:10;
font-family:default;
valign:center;
}
 #panel2 {
padding-right:10;
padding-left:10;
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #image2 {
height:26;
width:26;
}
 #label5 {
halign:center;
height:wrap;
widthWrap:68.0;
color:#030303;
heightWrap:23.0;
font-size:16;
width:wrap;
margin-left:10;
font-family:default;
valign:center;
}
 #panel7 {
halign:center;
height:134;
background:#ffffff;
layout:vbox;
width:fill;
margin-top:10;
valign:TOP;
}
 #panel3 {
padding-right:10;
padding-left:10;
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #image3 {
height:26;
width:26;
}
 #label7 {
halign:center;
height:wrap;
widthWrap:68.0;
color:#030303;
heightWrap:23.0;
font-size:16;
width:wrap;
margin-left:10;
font-family:default;
valign:center;
}
 #label8 {
margin-right:10;
halign:center;
height:1;
color:#000000;
font-size:14;
background:#dbdbdb;
width:fill;
margin-left:10;
font-family:default;
valign:center;
}
 #panel4 {
padding-right:10;
padding-left:10;
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #image4 {
height:26;
width:26;
}
 #label9 {
halign:center;
height:wrap;
widthWrap:68.0;
color:#030303;
heightWrap:23.0;
font-size:16;
width:wrap;
margin-left:10;
font-family:default;
valign:center;
}
 #label10 {
margin-right:10;
halign:center;
height:1;
color:#000000;
font-size:14;
background:#dbdbdb;
width:fill;
margin-left:10;
font-family:default;
valign:center;
}
 #panel5 {
padding-right:10;
padding-left:10;
halign:LEFT;
height:44;
layout:hbox;
background:#ffffff;
width:fill;
valign:center;
}
 #image5 {
height:26;
width:26;
}
 #label11 {
halign:center;
height:wrap;
widthWrap:68.0;
color:#030303;
heightWrap:23.0;
font-size:16;
width:wrap;
margin-left:10;
font-family:default;
valign:center;
}
 #button0 {
border-bottom-width:1;
border-radius:5;
width:fill;
font-pressed-color:#00a1ea;
border-bottom-color:#ec5f1a;
border-top-width:1;
margin-right:10;
border-left-color:#ec5f1a;
border-top-color:#ec5f1a;
height:44;
border-right-color:#ec5f1a;
background:#ec5f1a;
margin-left:10;
border-right-width:1;
margin-top:20;
border-left-width:1;
}
