 #AddressChange {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#ededed;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
color:#d68f2f;
background:#321e12;
font-size:20;
}
 #imagebutton0 {
width:44;
icon-width:15;
font-pressed-color:#e50011;
icon-height:21;
height:44;
font-size:10;
icon-background-image:i_back.png;
icon-text-spacing:3;
}
 #label1 {
halign:center;
height:fill;
weight:1;
color:#000000;
font-size:14;
width:0;
font-family:default;
valign:center;
}
 #button0 {
height:44;
color:#d68f2f;
font-size:16;
width:44;
}
 #label0 {
halign:center;
height:2;
color:#000000;
font-size:14;
background:#ec9e34;
width:fill;
font-family:default;
valign:center;
}
 #panel1 {
padding-left:10;
padding-right:5;
halign:LEFT;
height:44;
layout:hbox;
background:#cac9ce;
width:fill;
valign:center;
}
 #button1 {
height:44;
widthWrap:45.0;
font-size:14;
background:#cac9ce;
width:wrap;
}
 #label2 {
halign:center;
height:26;
color:#000000;
font-size:14;
background:#ffffff;
width:1;
margin-left:5;
font-family:default;
valign:center;
}
 #search0 {
height:44;
weight:1;
search-btn-icon:search_left.png;
color:#000000;
font:default;
font-size:14;
width:0;
search-del-icon:search_right.png;
background-image:search_bg;
}
 #gaodemapview0 {
location-img:mixedspot;
height:0;
weight:1;
width:fill;
around-img:maphot;
background-image:map;
}
 #listviewdefine0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
border-bottom-width:1;
halign:LEFT;
height:60.0;
background:#FFFFFF;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #panel2 {
halign:center;
height:60.0;
weight:1;
layout:vbox;
width:0;
margin-left:10;
valign:CENTER;
}
 #label3 {
halign:left;
height:wrap;
color:#000000;
heightWrap:20.0;
font-size:14;
width:fill;
margin-bottom:5;
font-family:default;
valign:center;
}
 #label4 {
halign:left;
height:wrap;
color:#686868;
heightWrap:20.0;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #imagebutton1 {
width:60;
icon-width:20;
icon-height:20;
height:60;
font-size:10;
icon-background-image:tool_ok_touch.png;
icon-text-spacing:3;
}
