 #OrderList {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#ededed;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
color:#d68f2f;
background:#321e12;
font-size:20;
}
 #imagebutton0 {
width:44;
icon-width:15;
font-pressed-color:#e50011;
icon-height:21;
height:44;
font-size:10;
icon-background-image:i_back.png;
icon-text-spacing:3;
}
 #label0 {
halign:center;
height:2;
color:#000000;
font-size:14;
background:#ec9e34;
width:fill;
font-family:default;
valign:center;
}
 #panel0 {
padding-right:10;
padding-left:10;
halign:LEFT;
border-radius:22;
width:fill;
margin-bottom:10;
margin-right:10;
height:44;
layout:hbox;
background:#ffffff;
margin-left:10;
margin-top:10;
valign:center;
}
 #button0 {
height:44;
weight:1;
font-size:16;
width:0;
font-pressed-color:#c0c0c0;
}
 #imagebutton1 {
width:70;
icon-width:44;
icon-height:44;
height:44;
font-size:10;
icon-background-image:switchbg.png;
icon-text-spacing:3;
}
 #button2 {
height:44;
weight:1;
font-size:16;
width:0;
font-pressed-color:#c0c0c0;
}
 #listviewdefine0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel1 {
halign:center;
height:120;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel2 {
border-bottom-width:1;
border-top-color:#C7C7C7;
halign:LEFT;
height:110;
layout:hbox;
background:#FFFFFF;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
border-top-width:1;
}
 #panel4 {
margin-right:5;
halign:left;
height:fill;
weight:2;
background:#ffffff;
layout:vbox;
width:0;
margin-left:10;
valign:CENTER;
}
 #label5 {
halign:center;
height:wrap;
color:#000000;
heightWrap:19.0;
font-size:14;
width:fill;
margin-bottom:5;
font-family:default;
valign:center;
}
 #label9 {
halign:center;
height:wrap;
color:#000000;
heightWrap:29.0;
font-size:22;
width:fill;
font-family:default;
valign:center;
}
 #label4 {
halign:center;
height:wrap;
color:#999999;
heightWrap:19.0;
font-size:14;
width:fill;
margin-bottom:5;
font-family:default;
margin-top:5;
valign:center;
}
 #label1 {
halign:center;
height:wrap;
color:#999999;
heightWrap:19.0;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #panel3 {
margin-right:10;
halign:center;
height:fill;
weight:1;
background:#ffffff;
layout:vbox;
width:0;
margin-left:5;
valign:CENTER;
}
 #label7 {
halign:center;
height:wrap;
color:#d68f2f;
heightWrap:54.0;
font-size:42;
width:fill;
font-family:default;
valign:center;
}
 #label2 {
halign:center;
height:1;
color:#000000;
font-size:14;
background:#C7C7C7;
width:80;
margin-bottom:5;
font-family:default;
margin-top:5;
valign:center;
}
 #label3 {
halign:center;
height:wrap;
color:#d68f2f;
heightWrap:21.0;
font-size:16;
width:fill;
font-family:default;
valign:center;
}
