 #OrderQuery {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
layout:vbox;
background:#ededed;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
color:#d68f2f;
font-size:20;
background:#321e12;
}
 #imagebutton0 {
width:44;
icon-width:15;
font-pressed-color:#e50011;
icon-height:21;
height:44;
font-size:10;
icon-background-image:i_back.png;
icon-text-spacing:3;
}
 #label0 {
halign:center;
height:2;
color:#000000;
background:#ec9e34;
font-size:14;
width:fill;
font-family:default;
valign:center;
}
 #togglebuttongroup1 {
halign:CENTER;
height:44;
layout:hbox;
width:260;
valign:top;
}
 #togglebutton1 {
halign:center;
height:42.0;
background-image-off:label_4_left;
font-size:14;
width:130.0;
valign:center;
background-image-on:label_4_left_touch;
}
 #togglebutton5 {
halign:center;
height:42.0;
background-image-off:label_4_right;
font-size:14;
width:130.0;
valign:center;
background-image-on:label_4_right_touch;
}
 #flipperdefine0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #listviewdefine0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel7 {
halign:center;
height:130;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel2 {
border-bottom-width:1;
border-top-color:#C7C7C7;
halign:left;
height:120;
layout:vbox;
background:#FFFFFF;
width:fill;
valign:CENTER;
border-bottom-color:#C7C7C7;
border-top-width:1;
}
 #panel4 {
margin-right:10;
halign:LEFT;
height:30;
layout:hbox;
background:#ffffff;
width:fill;
margin-left:10;
valign:center;
}
 #label1 {
halign:left;
height:20;
weight:1;
color:#d68f2f;
font-size:16;
width:0;
font-family:default;
valign:center;
}
 #label2 {
halign:right;
height:20;
weight:1;
color:#030303;
font-size:16;
width:0;
font-family:default;
valign:center;
}
 #label3 {
margin-right:15;
halign:left;
height:wrap;
color:#999999;
heightWrap:20.0;
font-size:14;
width:fill;
margin-left:15;
font-family:default;
valign:center;
}
 #panel6 {
halign:LEFT;
height:30;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #label4 {
margin-right:15;
halign:left;
height:wrap;
weight:1;
color:#999999;
heightWrap:20.0;
font-size:14;
width:0;
margin-left:15;
font-family:default;
valign:center;
}
 #label6 {
margin-right:15;
halign:right;
height:wrap;
weight:1;
color:#999999;
heightWrap:20.0;
font-size:14;
width:0;
margin-left:15;
font-family:default;
valign:center;
}
 #label5 {
margin-right:10;
halign:center;
height:1;
color:#000000;
background:#f2f2f2;
font-size:14;
width:fill;
margin-left:10;
font-family:default;
margin-top:5;
valign:center;
}
 #panel5 {
margin-right:10;
halign:RIGHT;
height:30;
background:#ffffff;
layout:hbox;
width:fill;
margin-left:10;
valign:center;
}
 #imagebutton1 {
weight:1;
text-align:right;
width:0;
icon-width:18;
icon-height:18;
height:30;
color:#aaaaaa;
font-size:12;
icon-background-image:tool_paper_plane_touch.png;
icon-pressed-image:tool_paper_plane.png;
icon-text-spacing:3;
}
 #imagebutton2 {
weight:1;
text-align:right;
width:0;
icon-width:18;
icon-height:18;
height:30;
color:#aaaaaa;
font-size:12;
icon-background-image:tool_bus_touch.png;
icon-pressed-image:tool_bus.png;
icon-text-spacing:3;
}
 #imagebutton3 {
weight:1;
text-align:right;
width:0;
icon-width:18;
icon-height:18;
height:30;
color:#aaaaaa;
font-size:12;
icon-background-image:tool_all_touch.png;
icon-pressed-image:tool_all.png;
icon-text-spacing:3;
}
 #panel1 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #listviewdefine1 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel3 {
halign:center;
height:130;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel8 {
border-bottom-width:1;
border-top-color:#C7C7C7;
halign:left;
height:120;
layout:vbox;
background:#FFFFFF;
width:fill;
valign:CENTER;
border-bottom-color:#C7C7C7;
border-top-width:1;
}
 #panel9 {
margin-right:10;
halign:LEFT;
height:30;
layout:hbox;
background:#ffffff;
width:fill;
margin-left:10;
valign:center;
}
 #label7 {
halign:left;
height:20;
weight:1;
color:#d68f2f;
font-size:16;
width:0;
font-family:default;
valign:center;
}
 #label8 {
halign:right;
height:20;
weight:1;
color:#030303;
font-size:16;
width:0;
font-family:default;
valign:center;
}
 #label9 {
margin-right:15;
halign:left;
height:wrap;
color:#999999;
heightWrap:20.0;
font-size:14;
width:fill;
margin-left:15;
font-family:default;
valign:center;
}
 #panel10 {
halign:LEFT;
height:wrap;
heightWrap:26.0;
background:#ffffff;
layout:hbox;
width:fill;
valign:center;
}
 #label10 {
margin-right:15;
halign:left;
height:wrap;
weight:1;
color:#999999;
heightWrap:20.0;
font-size:14;
width:0;
margin-left:15;
font-family:default;
valign:center;
}
 #label11 {
margin-right:15;
halign:right;
height:wrap;
weight:1;
color:#999999;
heightWrap:20.0;
font-size:14;
width:0;
margin-left:15;
font-family:default;
valign:center;
}
 #label12 {
margin-right:10;
halign:center;
height:1;
color:#000000;
background:#f2f2f2;
font-size:14;
width:fill;
margin-left:10;
font-family:default;
margin-top:5;
valign:center;
}
 #panel11 {
margin-right:10;
halign:RIGHT;
height:30;
background:#ffffff;
layout:hbox;
width:fill;
margin-left:10;
valign:center;
}
 #imagebutton4 {
weight:1;
text-align:right;
width:0;
icon-width:18;
icon-height:18;
height:30;
color:#aaaaaa;
font-size:12;
icon-background-image:tool_paper_plane_touch.png;
icon-pressed-image:tool_paper_plane.png;
icon-text-spacing:3;
}
 #imagebutton5 {
weight:1;
text-align:right;
width:0;
icon-width:18;
icon-height:18;
height:30;
color:#aaaaaa;
font-size:12;
icon-background-image:tool_bus_touch.png;
icon-pressed-image:tool_bus.png;
icon-text-spacing:3;
}
 #imagebutton6 {
weight:1;
text-align:right;
width:0;
icon-width:18;
icon-height:18;
height:30;
color:#aaaaaa;
font-size:12;
icon-background-image:tool_all_touch.png;
icon-pressed-image:tool_all.png;
icon-text-spacing:3;
}
