 #OrderQuery {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #viewPage0 {
halign:center;
height:fill;
background:#ededed;
layout:vbox;
width:fill;
valign:TOP;
}
 #navigatorbar0 {
halign:LEFT;
color:#d68f2f;
background:#321e12;
font-size:20;
}
 #imagebutton0 {
width:44;
icon-width:15;
font-pressed-color:#e50011;
icon-height:21;
height:44;
font-size:10;
icon-background-image:i_back.png;
icon-text-spacing:3;
}
 #label0 {
halign:center;
height:2;
color:#000000;
font-size:14;
background:#ec9e34;
width:fill;
font-family:default;
valign:center;
}
 #togglebuttongroup1 {
halign:CENTER;
height:44;
layout:hbox;
width:260;
valign:top;
}
 #togglebutton1 {
halign:center;
height:42.0;
background-image-off:label_4_left;
font-size:15;
width:130.0;
valign:center;
background-image-on:label_4_left_touch;
}
 #togglebutton5 {
halign:center;
height:42.0;
background-image-off:label_4_right;
font-size:15;
width:130.0;
valign:center;
background-image-on:label_4_right_touch;
}
 #flipperdefine0 {
halign:center;
height:0;
weight:1;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #listviewdefine0 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel2 {
border-bottom-width:1;
halign:LEFT;
height:60.0;
background:#FFFFFF;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
 #panel1 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #listviewdefine1 {
halign:center;
height:fill;
layout:vbox;
width:fill;
valign:TOP;
}
 #panel3 {
border-bottom-width:1;
halign:LEFT;
height:60.0;
background:#FFFFFF;
layout:hbox;
width:fill;
valign:center;
border-bottom-color:#C7C7C7;
}
